$success: #c7f282;
$warning: #f1e681;
$error: #f08181;
$charcoal: #ccc;
body{
  font-family: 'Times New Roman', Times, serif;
}
.flash-success,
.flash-warning,
.flash-error {
  border: 1px solid $charcoal;
  display: block;
  left: 25%;
  padding: 30px;
  position: fixed;
  text-align: center;
  top: 15%;
  width: 50%;
  z-index: 1;
}

.flash-success {
  background-color: $success;
}

.flash-warning {
  background-color: $warning;
}

.flash-error {
  background-color: $error;}

.auth-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10% auto 0;
  max-width: 500px;
  border-radius: 15px;
	background-color:rgb(24,24,24);
  font-family: 'Times New Roman', Times, serif;	
  cursor: pointer;
  color: white;
}
  h3{
    margin-bottom: 5%;
    margin-top: 5%;
    text-align: center;
  }
  label{
    margin-bottom: 5%;
    padding: 8px 15px;
    margin: auto 25px; 

  }
  input {
    margin-bottom: 5%;
    border: 0;
    display: block;
    height: 50px;
    padding: 8px 15px;
    border-radius: 15px;
    margin: auto 25px; 
  }
  button {
    align-self: flex-end;
    max-width: 200px;
    text-align: center;
    background-color: rgba(105, 109, 110, 0.979);
			color: white;
			border:0;
			border-radius: 15px;
			display: block;
			margin: 15px auto; 
			padding: 15px 45px;
			width: 100%;
			font-weight: bold;
      cursor: pointer;
			
			&:hover {
				transition: all .3s ease;
        background-color: whitesmoke;
        color:black;
			}
		}
.bttn{
  margin-left: 4px;
  

}
.productsContainer{
  display:inline-block;
  flex-direction: column;
  // justify-content: center;
  text-align: center;
  margin-left:100px;
  margin-top: 20px;

}

.image{
  float: left;
  padding: 10px;
}
.titles{
  padding: 6px;
  margin-top: 10px;
  text-align: left;

}

header{
  color: white;
  // background-color: rgba(5, 19, 26, 0.979);
  background-color: #181818		;
  font-family: 'Times New Roman', Times, serif;
}
h1{
  margin-left: 100px;
  font-family: 'Girassol', cursive;
}

a {
  color: #FFF;
}

.inquiryContainer{
  margin-top: 20px;
  display: inline-block;
  flex-direction: column;
  border-radius: 15px;
  background-color:#181818;
  color: white;
  max-width: 400px;
  width: 100%;
  margin-left: 100px;
}


